.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background-color: #1e293b; */
}

.logo {
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navLinks li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
